.logo{
    height:110px;
    width:110px;
    position: fixed;
    z-index: 1000; 
}

body{
    background-color: #FBFAF9;
    
}

/*for the NASR.html page*/

.div1{
    width:114px;
    overflow: hidden;
}

.div2{
    overflow:hidden;
    width:114px;
    height:114px;
}



.menu{
    background-color: #AB9898;
    width: 99%;
    height:100px;
    margin-top:-10px;
    margin-left: 110px;
    position: fixed;
    z-index: 1000; 

 }

.menu ul{
    list-style:none;
}
.menu ul li{
    display:inline;
    margin-top:30px;
  margin-right: 125px;
    float:right;
    background-color: none;
    
}

.menu ul li a{
    text-decoration: none;
    color:black;
    transition: color 0.3s ease;
}

.menu ul li a:hover{
    Color:#999;
}
.div{
    max-width: auto;
    height:auto;
    margin-left: 110px;
    overflow: hidden;
    position: relative;
    

}

.imagea{
    /*max-width:90.69vw;*/
    width: 100%;
    height:auto;
    
}
#my-vector {
    max-width:35px;
    height:40px;
    margin-top: -200px;
    margin-left: 50px;
    position:absolute;
    
}
#my-vector1 {
  max-width:35px;
  height:40px;
  margin-top: -200px;
  margin-left: 50px;
  position:absolute;
  
}
#my-vector2 {
  max-width:35px;
  height:40px;
  margin-top: 0px;
  margin-left: 50px;
  position:absolute;
  
}
#my-vector3 {
  max-width:35px;
  height:40px;
  margin-top: 0px;
  margin-left: 50px;
  position:absolute;
  
}



.order{
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    background-color: #E1B6B6;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.container {
  position: relative;
  float: right;
  margin: 20px;
}

.sidebar {
  position: fixed;
  float: right;
  z-index: 1000;
  top: 0;
  right: -400px;
  width: 250px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #cca89d; 
  color: #fff; 
  transition: right 0.4s ease-in-out; 
  padding: 20px;
}

.lines{
  margin-left: 320px;
}
.active {
  right: 0; /* To display the sidebar */
}


img {
  cursor: pointer; 
}

.contact-section {
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-grp {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea.form-control {
  resize: vertical;
}

.btn-submit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cont{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ae7c6c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.btn-submit:hover {
  background-color: #0056b3;
}





/*for the about.html page*/

.about{
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    background-color: #E1B6B6;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
 
.instruction-board{
    margin-top:100px;
    margin-left:100px;
    border: 4px solid #000;
    height:500px;
    width: 100%; 
    max-width: 1100px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instruction-board h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.instruction-board p {
  font-size: 16px;
  line-height: 1.6;
}

/*for the catalogue.html page*/

.instructionOverlay{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.overlay-allignment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}
.ov-cont{
    background-color: #fff; 
    width: 60%; 
    max-width: 400px; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
}

.overlay button{
color: #ae7c6c;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.4s ease;
}

.x{
   margin-left: 350px;
 margin-top: 50px;
  
  font-size: 16px;
  background-color: #ae7c6c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/*for the transformations.html page*/

.images {
    margin-left: -185px;
    display: flex;
    height:300px;
    width:600px;
  }

.images1{
    margin-left: 450px;
    margin-top:-350px;
    display: flex;
    height:300px;
    width:650px;
  }
.images1 img {
    width: 50%;
    height: auto;
    
  }
  
.images img {
    width: 50%;
    height: auto;
    
  }
.images2 {
    display: flex;
    margin-left:-190px;
    margin-top:100px;
    height:300px;
    width:600px;
  }

.images3{
    margin-left: 450px;
    margin-top: -345px;
    display: flex;
    height:300px;
    width:650px;
  }
.images2 img {
    width: 50%;
    height: auto;
    
  }
  
.images3 img {
    width: 50%;
    height: auto;
  
  }
  
  
.buttons {
    margin-top: 10px;
    

  }

.buttons1{
    margin-left: 650px;
    margin-top: 10px;
    
  }
  
.buttons button {
    padding: 8px 16px;
    margin-left: 50px;
    
  }

.buttons1 button {
    padding: 8px 16px;
    margin-left: 50px;

    
  }

.buttons2 {
    margin-top: 10px;
    

  }

.buttons3{
    margin-left: 650px;
    margin-top: 10px;
    
  }
  
.buttons2 button {
    padding: 8px 16px;
    margin-left: 50px;
    
  }

.buttons3 button {
    padding: 8px 16px;
    margin-left: 50px;

    
  }


.image-container {
    position: relative;
    overflow: hidden;
  }
  
.image {
    width: 448px;
    height: 420px;
    transition: transform 0.3s;
  }
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    transform-origin: bottom left;
    transform: skew(-20deg);
  }
  
.overlay button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
.image-container:hover .image {
    transform: scale(1.1);
  }
  
.image-container:hover .overlay {
    opacity: 1;
  }

.table_wrapper{
    margin-left:100px;
  }


  
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px; 
  }
    
#instructionImage{
  max-width: 100%; 
  height: auto; 
  margin-bottom: 10px;
}
.container {
  max-width: 100%; 
  transition: max-width 0.5s ease; 
}
 
  /* Media queries for different device sizes */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .logo{
      width:95px;
      height:95px;
    }
    .menu ul li{
      margin-top:1px;  
  }
    .imagea{
      width: auto;
      height:480px;
      overflow: hidden;
    }
    
    #my-vector {
      margin-top: -300px;
    }
    #my-vector1 {
    margin-top: -210px;
    }
    #my-vector2 {
    margin-top: 240px;
    margin-left: 10px;
    }
    #my-vector3 {
      margin-top: -5080px;
    }
    
    .openbar{
      width:15px;
      height:15px;
      }

   .order{
    margin-left: 30px;
    padding: 10px 10px;
    }
    .about{
      position: absolute;
    margin-left: 50px;
      margin-top: 50px;
  
  }
    .instruction-board {
      margin-top:180px;
      width: 238px;
      height:409px;
      margin-bottom: 10px;
    }
    
    .table{
      border-collapse: collapse;
      border: none;
    }
    .table_wrapper{
      margin-top: 119px;
      overflow: hidden;
      width: 70%;
      margin-left: 109.5px;
    }
    
  
    td {
      width: 60%;
      display: block;
      margin-bottom: 10px; 
      
      
    }
  
    .image-container {
      justify-content: center;
      overflow: hidden;
     
      
    }
  
    .overlay {
      position: relative;
    }
  
    .overlay button {
      position: absolute;
      bottom: 10px; 
      left: 50%; 
      transform: translateX(-50%);
    }
  
    
    
    .x {
      margin-left: 20px;
      padding: 5px 10px; 
  } 
  .lines{
    margin-left: 230px;
  }
  .container {
    max-width: 80%; 
    margin-top: 100px;
    overflow: hidden;
    transition: max-width 0.5s ease; 
  }
  
  
  }


  
  
  
  @media only screen and (min-width: 375px) and (max-width: 812px) {
    
    .logo{
      width:95px;
      height:95px;
    }
    .menu ul li{
      margin-top:0px;  
  }
    .imagea{
      width: auto;
      height:810px;
      overflow: hidden;
    }
    
    #my-vector {
      margin-top: -300px;
    }
    #my-vector1 {
    margin-top: -210px;
    }
    #my-vector2 {
    margin-top: 240px;
    margin-left: 10px;
    }
    #my-vector3 {
      margin-top: -5080px;
    }
    
    .openbar{
    width:20px;
    height:20px;
    }

   .order{
    margin-left: 30px;
    padding: 10px 10px;
    }
    .about{
      position: absolute;
    margin-left: 50px;
      margin-top: -10px;
  
  }
    .instruction-board {
      margin-top:220px;
      width: 255px;
      height:490px;
      margin-bottom: 10px;
      margin-left: 120px;
    }
    
    .table{
      border-collapse: collapse;
      border: none;
    }
    .table_wrapper{
      margin-top: 119px;
      overflow: hidden;
      width: 70%;
      margin-left: 109.5px;
    }
    
  
    td {
      width: 60%;
      display: block;
      margin-bottom: 10px; 
      
      
    }
  
    .image-container {
      justify-content: center;
      overflow: hidden;
     
      
    }
  
    .overlay {
      position: relative;
    }
  
    .overlay button {
      position: absolute;
      bottom: 10px; 
      left: 50%; 
      transform: translateX(-50%);
    }
  
    
    
    .x {
      margin-left: 20px;
      padding: 5px 10px; 
  } 
  .lines{
    margin-left: 230px;
  }
  .container {
    max-width: 80%; 
    margin-top: 100px;
    overflow: hidden;
    transition: max-width 0.5s ease; 
  }
  
  
  }

    
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
     
    
.menu{
  width: 85%;
  z-index: 1000;
}
    .logo{
      width:95px;
      height:95px;
      z-index: 1000;
    }
    .menu ul li{
      margin-top:20px; 
      cursor: pointer; 
  }
    .imagea{
      width: auto;
      height:1010px;
      overflow: hidden;
    }
    
    #my-vector {
      margin-top: -400px;
     
    }
    #my-vector1 {
    margin-top: -210px;
    cursor: pointer;
    }
    #my-vector2 {
    margin-top: 240px;
    margin-left: 10px;
    }
    #my-vector3 {
      margin-top: -5080px;
    }
    
    .openbar{
      width:20px;
      height:20px;
      }


   .order{
    margin-left: 30px;
    padding: 10px 10px;
    }
    .about{
      position: absolute;
    margin-left: 10px;
      margin-top: -40px;
  
  }
    .instruction-board {
      margin-top:280px;
      width: 625px;
      height:490px;
      margin-bottom: 10px;
      margin-left: 120px;
    }
    
    .table{
      border-collapse: collapse;
      border: none;
    }
    .table_wrapper{
      margin-top: 119px;
      overflow: hidden;
      margin-left: 190px;
    }
    
  
    td {
      width: 100%;
      display: block;
      margin-bottom: 10px;       
    }
  
    .image-container {
      justify-content: center;
      overflow: hidden;
     
      
    }
  
    .overlay {
      position: relative;
    }
  
    .overlay button {
      position: absolute;
      bottom: 10px; 
      left: 50%; 
      transform: translateX(-50%);
    }
  
    
    
    .x {
      margin-left: 20px;
      padding: 5px 10px; 
  } 
  .lines{
    margin-left: 230px;
  }
  .container {
    max-width: 58%; 
    margin-top: 130px;
    overflow: hidden;
    transition: max-width 0.5s ease; 
  }
  
  
}
  
@media only screen and (min-width: 1024px) and (min-width: 1440px) {
   
    
.menu{
  width: 91.2%;
  z-index: 1000;
}
    .logo{
      width:95px;
      height:95px;
      z-index: 1000;
    }
    .menu ul li{
      margin-top:20px; 
      cursor: pointer; 
  }
    .imagea{
      width: auto;
      height:1010px;
      overflow: hidden;
    }
    
    #my-vector {
      margin-top: -400px;
     
    }
    #my-vector1 {
    margin-top: -210px;
    cursor: pointer;
    }
    #my-vector2 {
    margin-top: 480px;
    margin-left: 30px;
    }
    #my-vector3 {
      margin-top: -820px;
    }
    
    .openbar{
      width:20px;
      height:20px;
      }


   .order{
    margin-left: -20px;
    padding: 20px 30px;
    }
    .about{
      position: absolute;
    margin-left: 10px;
      margin-top: -20px;
  
  }
    .instruction-board {
      margin-top:280px;
      width: 1125px;
      height:490px;
      margin-bottom: 10px;
      margin-left: 250px;
    }
    
    .table_wrapper {
      margin-top: 100px;
      margin-left: 120px;
      max-width: 100%; 
      overflow-x: auto; 
  }
  .table_wrapper table {
      width: 100%; 
      table-layout: fixed; 
  }
  .table_wrapper td {
      width: calc(100% / 3);
      box-sizing: border-box; 
      padding: 10px;
      text-align: center; 
  }
  .image-container {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
  }
  .image {
      width: 100%;
      height: auto;
  }
  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      background-color: rgba(0, 0, 0, 0.7);
  }
  .overlay button {
      color: white;
      background: rgb(143, 100, 100);
      border: none;
      cursor: pointer;
  }
 
  
    .x {
      margin-left: 20px;
      padding: 5px 10px; 
  } 
  .lines{
    margin-left: 230px;
  }
  .container {
    max-width: 100%; 
    margin-top: 130px;
    
    transition: max-width 0.5s ease; 
  }
}